@model DeliveryHouse.Web.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<h2>Change Password</h2>
<h4>User</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm"></label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Change Password" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i> Save </button>
                <a asp-action="ChangeUser" class="btn btn-secondary"><i class="glyphicon glyphicon-hand-left"></i> back </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}