@model DeliveryHouse.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<h2>Reset Password</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Token" />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirPassword"></label>
                <input asp-for="ConfirPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Reset Password" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i> Save </button>
                <a asp-action="Login" class="btn btn-secondary"><i class="glyphicon glyphicon-hand-left"></i> back </a>
            </div>
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}