@model DeliveryHouse.Common.Entities.Department

@{
    ViewData["Title"] = "Edit Department";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<h1>Edit</h1>
<h4>Department</h4>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdCountry" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save </button>
                <a asp-action="Details" asp-route-id="@Model.IdCountry" class="btn btn-secondary"><i class="glyphicon glyphicon-fast-backward"></i> Back </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}